.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
  border-color: #000;
  border-width: 10%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.display {
  align-items: center;
  justify-content: center;
  font: #000;
  font-size: 15px;
}

.button {
  display: block;
  background-color: #bbb;
  border: auto;
  padding: 10px;
  margin: auto;
}

button {
  font-size: 40;
  padding: auto;
  width: 25%;
  height: 50px;
}
